nav{
    height: 70px;
    background-color: rgb(44, 62, 80);
}

#jumbo{
    background-color: rgb(26, 188, 156);
}

#jumbo img{
    width: 200px;
}

.my-line{
    width: 10%;
}

.fa-star{
    font-size: 1.5rem;
}

#portfolio img{
    border-radius: 15px;
}

#about{
    background-color: rgb(26, 188, 156);
}

#contact{
    height:650px;
}
