.my-header-filler{
    height: 60px;
    background-color: rgb(44, 62, 80);
}

.my-jumbo-filler{
    height: 600px;
    background-color: red;
}

#jumbo{
    background-color: rgb(26, 188, 156);
}

#portfolio{
    height:1000px
}

.my-contact-filler,
.my-about-filler,
.my-portfolio-filler{
    height: 200px;
    background-color: pink;
}

.my-portfolio-img-filler{
    height: 300px;
    background-color: rebeccapurple;
}

.my-about-filler-text{
    height: 150px;
    background-color: blue;
}

#about{
    height: 500px;
}

.my-download-filler{
    height: 50px;
    background-color: orange;
}

#about-section{
    background-color: rgb(26, 188, 156);
}

#contact{
    height:650px;
}
.my-contact-text-filler{
    height: 40px;
    background-color: brown;
}